#root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background-color: #040404;
  }

img {
    margin-top: 3rem;
}

.home {
    background-color: black;
}

.bt {
    margin-top: 3rem;
}