:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: black;
  margin-top: 4rem;
  padding: 2rem;
  text-align: center;
  margin: auto;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #030303;
}

