body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
  text-align: center;
  margin: auto;
  color-scheme: light dark;
  color: rgb(0, 0, 0);
}

