.carousel-item {
    max-width: 200px;
    display: flex;
    justify-content: center;
}

.carousel-inner {
    padding: 10px;
    background-color: white;
}

.interest-info {
    padding-top: 20px;
    text-align: start;
}

/* .card-container {
    max-width: 300px;
    max-height: 200px;
} */

/* .card {
    width: 100%;
    max-width: 300px; 
} */
