header {
    font-style: italic;
    margin-top: 3%;
}

section {
    width: auto;
}

.logo {
    width: 100%;
    max-width: 40%;
    min-width: 250px;
    height: auto;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.973);
    margin-top: 2rem;
}

.bgimg {
    width: 100%;
    height: 100%;
}

#home {

    display: grid;
    grid-template-columns: auto;
    height: 100vh;

}

.grid-item {
    text-align: center;
    height: 100%;
}