h1{
    background-color: rgba(139, 139, 143, 0.999);
    border: solid;
    border-radius: 1rem;
    opacity: 0.6;
    padding: 2rem;
}
.home{
    display: grid;
    place-items: center;
    margin: auto;
    text-align: center;
}
.bt {
    margin-top:2%;
    margin-bottom: 2%;
}