header {
    border-bottom: 2px solid rgba(240, 235, 235, 0.557);
    margin-top: 1rem;
}

.home {
    display: grid;
    place-items: center;
    text-align: center;
    margin: auto;
}

.bgimg {
    height: 100%;
    max-height: auto;
}