h1{
    background-color: rgba(113, 113, 125, 0.999);
    border: solid;
    padding: 2rem;
}
.home{
    display: grid;
    place-items: center;
    margin: auto;
    text-align: center;
}
.bt {
    margin-top:2%;
    margin-bottom: 2%;
}