.container-fluid {
    max-width: 750px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.bch {
    min-width: 5%;
    height: auto;
}

.bs {
    min-width: 5%;
    height: auto;
    max-inline-size: 5%;

}