.navbar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.navbar-icons span {
  margin-left: 15px;
  cursor: pointer;
}
