.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #FFFFFF;
  color: #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.nav-brand img {
  width: 40px;
  height: auto;
}

.navbar-icons {
  display: flex;
  align-items: center;
}

.cart-icon, .login-icon {
  cursor: pointer;
  margin-left: 20px;
}

.drawer, .cart-drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 240px;
  height: 800px;
  border-radius: 16.9px;
  background: #ECD9E9;
  color: #000100;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  align-items: flex;
  flex-direction: column;
}

.drawer-content, .cart-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-list li {
  margin-right: 10px;
  padding: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-list li:hover {
  background-color: #A44694;
  color: #212529;
  border-radius: 8px;
}
.buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.drawer ul {
  list-style: none;
  padding: 0;
}

.drawer li {
  cursor: pointer;
  margin: 10px 0;
}

.cart-content button {
  margin-top: 20px;
  border-radius: 100px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);

}

.item:hover {
  background-color: #A44694;
  color: #212529;
}

.quantity-botton, .add-button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  cursor: pointer;
  border-radius: 30px;
}

.product-item img {
  width: 100px; /* Ajusta el tamaño según sea necesario */
  height: auto;
  margin-right: 10px;
  background: #ECD9E9;
}
