.whatsapp-button {
    position: fixed;
    bottom: 75px;
    right: 75px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25D366;
    border-radius: 50%;
    padding: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer; 
    transition: transform 0.3s ease;
    text-decoration: none; 
  }
  
  .whatsapp-button:hover {
    transform: scale(1.1);
  }
  
  .whatsapp-button .fa-whatsapp {
    color: white; 
    font-size: 24px; 
  }
